@font-face {
  font-family: "Pretendard";
  font-display: fallback;

  src: url("./Pretendard-SemiBold.otf") format("otf");

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "NanumMyeongjo";
  font-display: fallback;
  src: url("./NanumMyeongjoBold.otf") format("otf"),
    url("./NanumMyeongjoExtraBold.otf") format("otf"),
    url("./NanumMyeongjo.otf") format("otf");

  font-weight: normal;
  font-style: normal;
}

.font-pretendard {
  font-family: "Pretendard";
}

body {
  font-family: "NanumMyeongjo";
}
